# BigQuery Configuration
BQ_PROJECT_ID="your-project-id"
BQ_DATASET_ID="nyc_taxi_raw"
BQ_CLEANED_DATASET_ID="nyc_taxi_cleaned"

# Path Configuration
RAW_DATA_DIR="dataset/Trip_Record"
PROCESSED_DATA_DIR="dataset/processed"
TAXI_ZONE_LOOKUP="dataset/Taxi_Zone_ Maps_and_Lookup_Tables/taxi_zone_lookup.csv"
